body {
    font: 14pt Arial, Helvetica, sans-serif;
    text-align: center; /* вырвнивание по центру */
    background-color: #00CC00;
}

.header {
    font-size: 2.2em; /* Размер текста */
    text-align: center; /* Выравнивание по центру */
    padding: 5px; /* Отступы вокруг текста */
    background: #49F72B; /* Цвет фона шапки */
    color: black; /* Цвет текста */
}

.navbar-brand {
    padding-left: 20px;

}

.container {       /* весь центральный контент с хеадером */
    width: 1180px;
    /*height: 100%;*/
    margin: 0 auto;
    background: #006600;
    color: black;
}

.content {
    margin-left: 170px; /* Отступ слева */
    padding: 10px; /* Поля вокруг текста */
}

A {
    color: #EDCB21; /* Цвет ссылок */
}

a:hover {
    color: #CAED21; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}

A:visit,A:visited {
    color: #cecece; /* Цвет посещенных ссылок */
}

A:active {
    color: #ffff00; /* Цвет активных ссылок */
}

i {
    font-family: Arial,sans-serif;
    font-size:14px;
}

.navbar-default {
    border-color: black;
}

.panel-footer {
    background: #49F72B;
    border-radius: 3px;
    border: 1px solid black;
}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 40px 7px 7px 0; /* Отступы вокруг картинки */

}

#sidebar {
    margin-top: 10px;
    width: 160px; /* Ширина слоя */
    padding: 0 10px; /* Отступы вокруг текста */
    float: left; /* Обтекание по правому краю */
}

/*.panel-footer {*/
    /*width: 1150px;*/
    /*height:100px;*/
    /*position:absolute;*/
    /*bottom:0;*/
/*}*/